/* otp */
.otp-text {
  margin-bottom: 12px;
}

.otp-heading {
  margin-bottom: 24px;
}

.otp-prompt,
.otp-resend {
  display: inline-block;
  margin-left: 10px;
}

.otp-resend .label-text {
  color: #2947a3;
}

.otp-prompt .label-text {
  color: "#2947a3";
}
